In [1]:
import pandas as pd
df=pd.read_csv("GroupBy.csv")
print(df)

   S.no Name Gender Dept        Salary
0     1  aaa      M   CS  1.200000e+15
1     2  bbb      F   EC  1.223300e+06
2     3  ccc      F   ME  2.340000e+12
3     4  ddd      M   EC  1.232000e+03
4     5  eee      M   EE  3.400000e+05
5     6  fff      F   CS  2.400000e+04
6     7  ggg      F   EC  1.200000e+05

In [2]:
print(df.groupby(["Gender"]))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001CE69D1B9A0>

In [3]:
a=df.groupby(["Gender","Dept"])
print(a.groups)

{('F', 'CS'): [5], ('F', 'EC'): [1, 6], ('F', 'ME'): [2], ('M', 'CS'): [0], ('M', 'EC'): [3], ('M', 'EE'): [4]}

In [4]:
print(df.groupby(["Dept"]).max())

      S.no Name Gender        Salary
Dept
CS       6  fff      M  1.200000e+15
EC       7  ggg      M  1.223300e+06
EE       5  eee      M  3.400000e+05
ME       3  ccc      F  2.340000e+12

In [5]:
print(df.groupby(["Dept"]).groups)

{'CS': [0, 5], 'EC': [1, 3, 6], 'EE': [4], 'ME': [2]}

In [6]:
g=df.groupby(["Gender"])
print(g.get_group("M"))

   S.no Name Gender Dept        Salary
0     1  aaa      M   CS  1.200000e+15
3     4  ddd      M   EC  1.232000e+03
4     5  eee      M   EE  3.400000e+05

In [7]:
df["Gender"].value_counts()

F    4
M    3
Name: Gender, dtype: int64

In [8]:
a=df.groupby(["Dept","Gender"])
print(a.groups)

{('CS', 'F'): [5], ('CS', 'M'): [0], ('EC', 'F'): [1, 6], ('EC', 'M'): [3], ('EE', 'M'): [4], ('ME', 'F'): [2]}

In [9]:
print(df.to_string())

   S.no Name Gender Dept        Salary
0     1  aaa      M   CS  1.200000e+15
1     2  bbb      F   EC  1.223300e+06
2     3  ccc      F   ME  2.340000e+12
3     4  ddd      M   EC  1.232000e+03
4     5  eee      M   EE  3.400000e+05
5     6  fff      F   CS  2.400000e+04
6     7  ggg      F   EC  1.200000e+05